<div class="wall" data-module="summary">
    <div class="content container">
        <div class="row">
            <div class="col-md-5 ">
                <img class="img-fluid" src="../images/home/phone-header.png" />
            </div>
            <div class="col-md-7 ">
                <h1 i18n="HOME.SUMMARY.TITLE"></h1>
                <span class="decoration"></span>
                <p i18n="HOME.SUMMARY.SUBTITLE"></p>
            </div>
        </div>
    </div>
    <img class="illustration" src="../images/home/summary.jpg" />
</div>
