<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <% for(var i=0, len=htmlWebpackPlugin.files.css.length; i<len; i++) {%>
    <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet" />
    <% } %>
</head>

<body>
    <div id="navCtn"></div>
    <div id="mainCtn">
        <div id="pageCtn"></div>
        <div id="footerCtn"></div>
    </div>
    <% for(var i=0, len=htmlWebpackPlugin.files.js.length; i<len; i++) {%>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
</body>

</html>